@font-face {
    font-family: 'Bigger Display';
    /*src: url('../fonts/BiggerDisplay.woff2') format('woff2'),
        url('../fonts/BiggerDisplay.woff') format('woff');*/
    src: url('../fonts/PPFormula-CondensedBlack.woff2') format('woff2'),
        url('../fonts/PPFormula-CondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraktion Sans';
    src: url('../fonts/fraktionsans-regular-webfont.woff2') format('woff2'),
        url('../fonts/fraktionsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fraktion Mono';
    src: url('../fonts/FraktionMono-Regular.woff2') format('woff2'),
        url('../fonts/FraktionMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: 'Fraktion Sans', sans-serif;
    background-color: #111;
}

body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    max-width: 100%;
}

video::-webkit-media-controls-panel {
    background-image: none !important;
    filter: brightness(0.4);
}

p {
    margin: 0;
}

html, body, #unityContainer * {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: visible;
}

html.no-scroll, .no-scroll body, .no-scroll #unityContainer * {
    overflow-y: hidden;
}

.no-scroll #webContainer {
  width: calc(100% - var(--scrollbar-width, 15px));
}

#funixMini, .loader, #sphereGif {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
}

#funixMini {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
}
#sphereGif {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
}

#loopLoader, #loopLoaderOverlay {
    background: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

#loopLoaderOverlay[style*='display: block'] {
    display: flex !important;
}
#loopLoaderOverlay {
    display: none;
    background: black;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader {
    margin-left: -60px;
    margin-top: -60px;
    border: 6px solid white;
    border-top: 6px solid #333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.color-black {
    color: black !important;
}
